{{ partial "header.html" . }}
       
<div class="container">
  {{ range .Data.Pages }}
  <h1 class="news-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <div class="date">Published on <span class="date-format">{{ .Date.Format "January 2, 2006" }}</span> by {{ .Params.author }}</div>
  
  <!-- <ul id="tags" class="hor-list">
    {{ range .Params.tags }}
    <li class="bubble green"><a href="/tags/{{ lower . }}">{{ . }}</a></li>
    {{ end }}
  </ul>
  <br><br> -->
  
  {{ .Summary }}
  <br><br> 
  {{ end }}
  


</div>
     
{{ partial "footer.html" . }}
