<nav class="navbar navbar-default">
  <a href="https://github.com/cafe-code" target="_blank" class="pull-right"><img src="/images/github.svg" width="150px"></a>
  <div class="container">
    <div class="hidden-xs">
      <div class="menu pull-right">
        <a href="/about">about</a>
        <a href="/menu">menu</a>
        <a href="/posts/">blog</a>
        <!-- <a href="/blog/">blog</a> -->
      </div>
      <a href="/">
        <div class="title">
          <img src="/images/cafecode.svg" width="150px">
        </div>
      </a>
    </div>
    <div class="visible-xs">
      <center style="margin-top:10px;">
        <div class="menu pull-right">
          <a href="/about" style="margin-right:15px;margin-left:15px;">about</a>
          <a href="/menu" style="margin-right:15px;margin-left:15px;">menu</a>
          <a href="/posts/" style="margin-right:15px;margin-left:15px;">blog</a>
        </div>
        </a>
      </center>
    </div>
    <!-- <hr class="top"/> -->
  </div>
  <div class="container-fluid">
    
  </div>
</nav>